<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>Nombre</strong></td>
  			<td><strong>Cedula</strong></td>
  			<td><strong>Observacion</strong></td>
		</tr>

		<tr>
  			<td align="center">Alba Mendez</td>
  			<td align="center">24.210.364</td>
  			<td align="center">Estudiante UBV / PFG-IGS</td>
		</tr>
	</table>
</body>
